<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <nav><% include partials/nav.ejs %></nav>
        <div class="posts">
            <h2><%= post[0].title %></h2>
            <p><%= post[0].body %></p>
            <p>Author: <%= post[0].author %></p>
        </div>
    </body>
</html>
