<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <nav><% include partials/nav.ejs %></nav>
        <div class="posts">
            <ul>
                <% for(var i=0; i<posts.length; i++) { %>
                <h2><a href="/posts/<%= i %>"><%= posts[i].title %></a></h2>
                <p><%= posts[i].body %></p>
                <p id='author'>Author: <%= posts[i].author %></p>
                <% } %>
            </ul>
        </div>
    </body>
</html>
