<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <nav><% include partials/nav.ejs %></nav>
        <div class="posts">
            <h2><%= post.title %></h2>
            <p><%= post.body %></p>
            <p>Author: <%= post.author %></p>
        </div>
    </body>
</html>
