<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <nav><% include partials/nav.ejs %></nav>
        <h2 class="posts">New Post</h2>
        <form id="post-new" method="POST" action="/post_new">
            <div>
                <label for="post_new_title">Title:</label>
                <textarea form="post-new" name="title" id="post_new_title" cols="60" rows="1"></textarea>
            </div>
            <div>
                <label for="post_new_body">Text:</label>
                <textarea form="post-new" name="body" id="post_new_body" cols="60" rows="8"></textarea>
            </div>

            <div>
            <input type="submit" value="Submit">
            
            </div>
        </form>
    </body>
</html>
