html{
    overflow-y: scroll;
}

body{
    font-family: 'Open sans', sans-serif;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-weight: normal;
    color: black;
}

h2{
    font-size: 40px;
    font-weight: normal;
    color: gray;
}

h2 a{
    text-decoration: none;
    color: gray;
}

.nav {
    text-align: left;
    border-bottom: solid gainsboro 2px;
    border-top: solid gainsboro 2px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 0px;
}

.posts{
    margin-left: 25%;
    margin-right: 25%;
}

.page-header {
    padding: 40px 20px 40px 20px;
}

#author {
    margin-left: 85%;
}

form {
    margin-left: 25%;
}

label {
    font-weight: bold;
}

textarea {
    display: block;
    resize: none;
    margin: 5px 0px 5px 0px;
}


button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

